*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #3498db, #3c40c6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
    max-width: 110rem;
    position: relative;
    margin: 6rem auto;
    box-shadow: 0 3rem 8rem rgba(0, 0, 0, .3);
    display: flex;
    background: #d2dae2;
    min-height: 50rem;
}